body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    height: 200px;
    width: 200px;
    position: relative;
    transform: rotate(45deg);
    background-color: red;
    animation: hert linear 2s infinite;
    box-shadow: 5px 5px 5px #ccc;
}

.box:before, .box:after {
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: -100px;
    background-color: red;
}

.box:after {
    left: 0;
    top: -100px;
}

@keyframes hert {
    0% {
        transform: rotate(45deg) scale(1);
    }

    15% {
        transform: rotate(45deg) scale(0.7);
    }

    25% {
        transform: rotate(45deg) scale(1);
    }

    40% {
        transform: rotate(45deg) scale(0.7);
    }

    50% {
        transform: rotate(45deg) scale(1);
    }

    75% {
        transform: rotate(45deg) scale(1.3);
    }

    100% {
        transform: rotate(45deg) scale(1);
    }
}